# **FINAL PROJECT CHECKPOINT 2**
## **DUE: *April 01, 2025 @ 11:59 PM***
## **24-HR LATE DUE DATE WITH A 15% PENALTY: *April 02, 2025 @ 11:59 PM***

### (5 points) Data preprocessing:
(a) import
(b) parse (e.g., convert strings to ints)
(c) organize (e.g., set up a database or a pandas DataFrame)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('NYPD_Shooting_Incident_Data__Historic_.csv')
df.head()

# Convert date columns to datetime format
df['OCCUR_DATE'] = pd.to_datetime(df['OCCUR_DATE'], errors='coerce')

df.head()

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,LOC_OF_OCCUR_DESC,PRECINCT,JURISDICTION_CODE,LOC_CLASSFCTN_DESC,LOCATION_DESC,STATISTICAL_MURDER_FLAG,...,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,231974218,2021-08-09,01:06:00,BRONX,NaN,40,0.0,NaN,NaN,False,...,NaN,NaN,18-24,M,BLACK,1.006343e+06,234270.000000,40.809673,-73.920193,POINT (-73.92019278899994 40.80967347200004)
1,177934247,2018-04-07,19:48:00,BROOKLYN,NaN,79,0.0,NaN,NaN,True,...,M,WHITE HISPANIC,25-44,M,BLACK,1.000083e+06,189064.671875,40.685610,-73.942913,POINT (-73.94291302299996 40.685609672000055)
2,255028563,2022-12-02,22:57:00,BRONX,OUTSIDE,47,0.0,STREET,GROCERY/BODEGA,False,...,(null),(null),25-44,M,BLACK,1.020691e+06,257125.000000,40.872349,-73.868233,POINT (-73.868233 40.872349)
3,25384540,2006-11-19,01:50:00,BROOKLYN,NaN,66,0.0,NaN,PVT HOUSE,True,...,U,UNKNOWN,18-24,M,BLACK,9.851073e+05,173349.796875,40.642490,-73.996912,POINT (-73.99691224999998 40.642489932000046)
4,72616285,2010-05-09,01:58:00,BRONX,NaN,46,0.0,NaN,MULTI DWELL - APT BUILD,True,...,M,BLACK,<18,F,BLACK,1.009854e+06,247502.562500,40.845984,-73.907461,POINT (-73.90746098599993 40.84598358900007)

### (20 points) Basic data exploration and summary statistics
- You must present three conclusions using at least three different statistical methods including hypothesis testing.
    - For example: What are the main characteristics of your dataset? How many features and entries are there? Is a feature over-represented? Are features correlated? Are there outliers? Identify the attributes that will affect your choice of primary analysis technique. Etcetera.

- For each method, you must have at least one gorgeous plot.